
{% load static tailwind_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    <title>Document</title>
    {% tailwind_css %}
</head>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const messages = document.querySelectorAll('.message-alert');
    
    messages.forEach(message => {
        // Start fade out after 4 seconds
        setTimeout(() => {
            message.classList.add('opacity-0', 'translate-x-full');
        }, 1000);
        
        // Remove from DOM after fade completes
        setTimeout(() => {
            message.remove();
        }, 2000);
    });
});
</script>
<body>
    
    {% include 'navbar.html' %}

    {% block content %}
    
    {% endblock  %}

     {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}

  </body>